@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root{
  /* ======== COLORS ======== */
  --color-primary: #fff;
  --color-secundary: #000;
  --gray-medium: #a8a8a8;
  --gray-light: #f4f4f4;
  --gray-dark: #252424;
  /* ======== FONTS ======== */
  --font-primary: 'Josefin Sans', sans-serif;
}

body::-webkit-scrollbar {
  display: none; /*para esconcder la barra */
}
section{
  width: 100vw;
  height: 100vh;
}

/* ======== SECTION 1 ======== */
#home{
  display: flex;
  flex-wrap: wrap;
}
              /*==== LEFT ====  */
.container-left {
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100vh;
}
.contain-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  margin-top: -15%;
  margin-left: -5%;
}
.contain-circle .circle{
  background-color: var(--color-secundary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  animation: expand 2s forwards; 
}
.name{
  padding-bottom: 6%;
  width: 155px;
}
.container-left h1{
  font-size: 3.7rem;
  font-family: var(--font-primary);
  animation: aparece 4s forwards;
}
.container-left .name h1{
  color: var(--color-secundary);
  font-weight: bold;
}

.circle h1{
  color: var(--color-primary);
}


              /*==== BUTTON ==== */
.contain-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  left: 20%;
}
.contain-button button {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  transition: button 0.13s;
  transition-delay: 0.13s;
  z-index: 50;
}
.o-dark{
  background-color: var(--color-secundary);
  height: 21px;
  width: 21px;
  position: absolute;
  right: 39%;
  margin-top: -4.7%;
  border-radius: 50%;
  z-index: 75;
}
.o-light{
  background-color: var(--color-primary);
  height: 20px;
  width: 20px;
  position: absolute;
  right: 39%;
  margin-top: -4.7%;
  border-radius: 50%;
  z-index: 75;
}
.btn-activate{ 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  bottom: 2%;
  left: 20%;
}
.btn-activate button{ 
  font-family: var(--font-primary);
  font-size: 1.5rem;
  background-color: transparent;
  color: var(--color-primary);
  border-color: transparent;
  z-index: 50;
}


              /* ==== RIGHT ==== */
.container-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--gray-light);
  width: 53%;
  height: 100vh;
}
.div-image {
  display: flex;
  justify-content: center;
  height: 80%;
  animation: img-up 2s forwards;
}


/*==== ANIMATION SECTION 1 ====  */
@keyframes expand {
  0%{
    width: 0px;
    height: 0px;
  }
  100%{
    width: 450px;
    height: 450px;
  }
}
@keyframes aparece {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes img-up {
  0%{
    width: 0%;
    height: 0%;
    margin-bottom: -50%;
  }
  100%{
    width: 100%;
    height: 85%;
    margin-bottom: 0%;
  }
}


/* ====== SECTION 2 ====== */
#sobremi{
  background-color: var(--color-primary);
  display: flex;
}
            /* ==== FOTO SOBRE MI ==== */
.div-imgsobremi{
  display: block;
  position: absolute;
  height: 80vh;
  width: 40%;
  margin-top: 10.4%;
  margin-left: 7%;
  z-index: 100;
}
.div-imgsobremi img{
  height: 100%;
  width: 92%;
}

            /* ==== H1 ARGENTINA ==== */
.pais{
  font-size: 1.3rem;
  font-weight: 400;
  position: absolute;
  margin-top: 30%;
  right: -10px;
  z-index: 100;
  transform: rotate(270deg);
}

            /* ==== INTERESES ==== */
.container-intereses{
  background-color: var(--gray-light);
  display: flex;
  flex-wrap: wrap;
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  left: 30%;
  top: 65%;
  height: 33vh;
  width: 70%;
}
.herramientas {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 55%;
  width: 100%;
}
.herramientas:after{
  content: "";
  position: absolute;
  width: 63%;
  height: 5px;
  bottom: 145px;
  left: 0%;
  border-bottom: 2px solid var(--color-secundary);
}
.herramientas img{
  height: 85%;
  margin-right: 15%;
}

.intereses{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40%;
  width: 100%;
  margin-top: -1.3%;
}
.intereses:after{
  content: "";
  position: absolute;
  width: 42%;
  height: 5px;
  bottom: 15px;
  left: 58%;
  border-bottom: 2px solid var(--color-secundary);
}
.intereses h1{
  position: absolute;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--gray-medium);
  margin-top: -6%;
  margin-right: 64%;
}
.intereses img{
  height: 70%;
  width: 55%;
  margin-right: 10%;
}



/* ====== SECTION 3 ====== */
#proyectos{
  background-color: green;
}
/* ====== SECTION 4 ====== */
#contacto{
  background-color: gray;
}