@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
}

:root{
  /* ======== COLORS ======== */
  --color-primary: #fff;
  --color-secundary: #000;
  --gray-medium: #a8a8a8;
  --gray-light: #f4f4f4;
  --gray-dark: #252424;
  /* ======== FONTS ======== */
  --font-primary: 'Josefin Sans', sans-serif;
}

body::-webkit-scrollbar {
  display: none; /*para esconcder la barra */
}

/* .p-contenedor{
  scroll-snap-type: y mandatory; 
}                                     ERROR!!!!
.p-contenedor section{
  scroll-snap-align: start;
} */

section{
  width: 100vw;
  height: 100vh;
  margin-bottom: 1px;
  border-top: 1px solid black;
}
.rologo{
  position: absolute;
  height: 60px;
  margin-top:895px;
  right: 15px;
}

/* ======== SECTION 1 ======== */
#home{
  display: flex;
  flex-wrap: wrap;
}
              /*==== LEFT ====  */
.container-left {
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100vh;
}
.contain-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  margin-top: -15%;
  margin-left: -5%;
}
.contain-circle .circle{
  background-color: var(--color-secundary);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  border-radius: 50%;
  animation: expand 2s forwards; 
}
.name{
  margin-left: 10px;
  padding-bottom: 6%;
  width: 170px;
}
.container-left h1{
  font-size: 3.7rem;
  font-family: var(--font-primary);
  animation: aparece 4s forwards;
}
.container-left .name h1{
  color: var(--color-secundary);
  font-weight: bold;
}

.circle h1{
  color: var(--color-primary);
}


              /*==== BUTTON ==== */
.contain-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  left: 20%;
}
.contain-button button {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 300;
  background-color: transparent;
  border-color: transparent;
  transition: button 0.13s;
  transition-delay: 0.13s;
  z-index: 50;
  cursor: pointer;
}
.o-dark{
  background-color: var(--color-secundary);
  height: 21px;
  width: 21px;
  position: absolute;
  right: 39%;
  margin-top: -4.7%;
  border-radius: 50%;
  z-index: 75;
}
.o-light{
  background-color: var(--color-primary);
  height: 20px;
  width: 20px;
  position: absolute;
  right: 39%;
  margin-top: -4.7%;
  border-radius: 50%;
  z-index: 1000;
}
.btn-activate{ 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  bottom: 2%;
  left: 20%;
}
.btn-activate button{ 
  font-family: var(--font-primary);
  font-size: 1.5rem;
  font-weight: 300;
  background-color: transparent;
  color: var(--color-primary);
  border-color: transparent;
  z-index: 1000;
  cursor: pointer;
}


              /* ==== RIGHT ==== */
.container-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--gray-light);
  width: 53%;
  height: 100vh;
}
.div-image {
  display: flex;
  justify-content: center;
  height: 80%;
  animation: img-up 2s forwards;
}
.div-image img{
  z-index: 1;
}

/*==== ANIMATION SECTION 1 ====  */
@keyframes expand {
  0%{
    width: 0px;
    height: 0px;
  }
  100%{
    width: 430px;
    height: 430px;
  }
}
@keyframes aparece {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes img-up {
  0%{
    width: 0%;
    height: 0%;
    margin-bottom: -50%;
  }
  100%{
    width: 100%;
    height: 85%;
    margin-bottom: 0%;
  }
}


/* ====== SECTION 2 ====== */
#sobremi{
  background-color: var(--color-primary);
  display: flex;
}
            /* ==== FOTO SOBRE MI ==== */
.div-imgsobremi{
  display: flex;
  align-items: flex-end;
  position: absolute;
  height: 100vh;
  width: 40%;
  margin-left: 5%;
  z-index: 150;
}
.div-imgsobremi img{
  height: 80%;
  width: 92%;
}
            /* ==== DESCRIPCION 'SOBRE MI' ==== */
.container-sobremi{
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  position: absolute;
  right: 0px;
  height: 60%;
  width: 75%;
}
.text-sobremi{
  margin-top: 4%;
  color: var(--gray-medium);
  height: 50%;
  width: 30%;
}
.text-sobremi h1{
  font-size: 8rem;
  font-family: var(--font-primary);
  font-weight: 500;
  letter-spacing: 10px;
}
.text-data{
  color: var(--gray-medium);
  position: absolute;
  top: 5%;
  right: 12%;
}
.text-data h2{
  font-family: var(--font-primary);
  font-weight: 200;
  letter-spacing: 2px;
}
.text-description{
  text-align: center;
  position: absolute;
  top: 35%;
  right: 10%;
  color: var(--gray-dark);
  width: 47%;
}
.text-description h3{
  font-family: var(--font-primary);
  font-weight: 300;
  letter-spacing: 3px;
}
.text-desing{
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 12%;
  color: var(--gray-dark);
  width: 38%;
}
.text-desing h2{
  font-weight: 100;
  color: var(--gray-medium);
  letter-spacing: 2px;
}

            /* ==== H1 ARGENTINA ==== */
.pais{
  font-size: 1.3rem;
  font-weight: 400;
  position: absolute;
  margin-top: 30%;
  right: -10px;
  z-index: 150;
  transform: rotate(270deg);
}

            /* ==== INTERESES ==== */
.container-intereses{
  background-color: var(--gray-light);
  display: flex;
  flex-wrap: wrap;
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  left: 30%;
  top: 59%;
  height: 38vh;
  width: 70%;
}
.herramientas {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
  width: 100%;
}
.herramientas:after{
  content: "";
  position: absolute;
  width: 63%;
  height: 5px;
  bottom: 45%;
  left: 0%;
  border-bottom: 2px solid var(--color-secundary);
}
.herramientas img{
  height: 85%;
  margin-right: 17%;
}

.intereses{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40%;
  width: 100%;
  margin-top: -1.3%;
}
.intereses:after{
  content: "";
  position: absolute;
  width: 45%;
  height: 5px;
  bottom: 7%;
  right: 0%;
  border-bottom: 2px solid var(--color-secundary);
}
.intereses h1{
  position: absolute;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--gray-medium);
  margin-top: -6%;
  margin-right: 70%;
  letter-spacing: 2px;
}
.intereses img{
  height: 70%;
  width: 60%;
  margin-right: 8%;
}



/* ====== SECTION 3 ====== */
#proyectos{
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-evenly;
  z-index: 300;
}
.div-tittle-proyectos{
  overflow-wrap: break-word;
  display: block;
  position: absolute;
  left: 27%;
  margin-top: 20px;
  width: 310px;
  height: 250px;
  color: var(--gray-medium)
}
.div-tittle-proyectos h1{
  font-family: var(--font-primary);
  font-size: 7rem;
  font-weight: 500;
  text-align: end;
  letter-spacing: 5px;
}


/* ====== SECTION 4 ====== */
#contacto{
  background-color: var(--color-primary);
  display: flex;
}
          /* -- TITTLE CONTACT -- */
.tittle-contact{
  color: var(--gray-medium);
  margin-top: 100px;
  margin-left: 250px;
  transition: 1s;
}
.tittle-contact h1{
  font-family: var(--font-primary);
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 10px;
}
.contain-links-contact{
  display: flex;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-left: -500px;
  height: 50px;
  width: 300px;
}

.contain-links-contact a{
  color: var(--gray-medium);
  margin-top: 100px;
  text-decoration: none;
}
.contain-links-contact a:hover{
  color: var(--gray-medium);
  margin-top: 98px;
  margin-bottom: 26px;
  height: 27px;
}

.contain-links-contact a h2{
  margin-left: 63px;
  margin-top: -45px;
}
.contain-links-contact a img{
  height: 50px;
}


.contact-animation{
  animation: apa-izq .5s forwards;
}
@keyframes apa-izq {
  0% {
    margin-left: -100%;
  }
  100%{
    margin-left: 50px;
  }
}

          /* ---- FORM ----- */
.div-form{
  position: absolute;
  right: 8%;
  margin-top: 200px;
  height: 60vh;
  width: 40vw;
}
.form {
  color: var(--color-secundary);
  font-size: 1.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.form .input-data{
  width: 100%;
  height: 10%;
  margin-top: 40px;
  padding-left: 20px;
  border: 4px solid var(--color-secundary);
  border-radius: 0px 50px 50px 50px;
}
.form textarea{
  width: 100%;
  height: 40%;
  margin-top: 40px;
  padding-left: 20px;
  resize: none;
  border: 4px solid var(--color-secundary);
  border-radius: 0px 50px 50px 50px;
}
.button-enviar {
  background-color: var(--gray-light);
  height: 55px;
  width: 150px;
  margin-top: 40px;
  border: 0px;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  transition: .5s;
}
.button-enviar:hover {
  margin-top: 37px;
  height: 60px;
  width: 155px;
  font-size: 1.6rem;
}
input::placeholder, textarea::placeholder{
  color: var(--color-secundary);
  font-size: 1.5rem;
  font-weight: 300;
}

/* ----Media Query---- */

@media only screen and (max-width: 768px){
  .rologo{
    position: absolute;
    height: 10px;
    margin:1095px;
    right: 10px;
  }
  /* --Section 1-- */
  #home{
    height: 100vh;
  }
                /*==== LEFT ====  */
  .container-left {
    width: 100vw;
    height: 35vh;
  }
  .contain-circle {
    width: 230px;
    margin-top: 5%;
    margin-left: 13%;
  }
  .contain-circle .circle{
    max-height: 230px;
    width: 330px;
  }
  .name{
    margin-left: 5px;
    margin-bottom: -97px;
  }
  .container-left h1{
    font-size: 2.1rem;
  }
  
                /*==== BUTTON ==== */
  .contain-button{
    bottom: 59%;
    left: 40%;
  }
  .contain-button button {
    font-size: 1rem;
  }
  .o-dark{
    height: 15px;
    width: 15px;
    right: 38%;
  }
  .o-light{
    height: 14px;
    width: 14px;
    right: 39%;
    margin-bottom: 2px;
  }
  .btn-activate{ 
    bottom: 59%;
    left: 40%;
  }
  .btn-activate button{ 
    font-size: 1rem;
  }
  
  
                /* ==== RIGHT ==== */
  .container-right {
    width: 100vw;
    height: 65vh;
  }
/* ====== SECTION 2 ====== */
#sobremi{
  background-color: var(--color-primary);
  display: flex;
}
            /* ==== FOTO SOBRE MI ==== */
.div-imgsobremi{
  height: 0vh;
  width: 0%;
}
.div-imgsobremi img{
  height: 0%;
  width: 0%;
}
            /* ==== DESCRIPCION 'SOBRE MI' ==== */
.container-sobremi{
  height: 65vh;
  width: 100vw;
}
.text-sobremi{
  display: flex;
  justify-content: center;
  margin-top: 20%;
  width: 100%;
}
.text-sobremi h1{
  font-size: 5rem;
  letter-spacing: 5px;
}
.text-data{
  top: 5%;
  right: 1%;
}
.text-data h2{
  font-size: 1rem;
  letter-spacing: 1px;
}
.text-description{
  top: 35%;
  right: 15vw;
  width: 70%;
}
.text-description h3{
  padding-top: 50px;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.text-desing{
  bottom: 5%;
  left: 0%;
}
.text-desing h2{
  font-size: .9rem;
}

            /* ==== H1 ARGENTINA ==== */
.pais{
  font-size: 1rem;
  font-weight: 300;
  margin-top: 95%;
  right: -20px;
}

            /* ==== INTERESES ==== */
.container-intereses{
  left: 0%;
  top: 63%;
  height: 35vh;
  width: 100%;
}
.herramientas {
  justify-content: center;
  height: 35%;
  width: 100%;
}
.herramientas:after{
  bottom: 55%;
}
.herramientas img{
  height: 80%;
  margin-right: 0%;
  margin-top: 25px;
}

.intereses{
  justify-content: center;
  height: 40%;
  width: 100%;
  margin-top: 0%;
}
.intereses:after{
  bottom: 10%;
}
.intereses h1{
  font-size: 1rem;
  margin-top: -18%;
  margin-right: 72%;
}
.intereses img{
  height: 50%;
  width: 90%;
  margin-right: 0%;
}

/* ====== SECTION 3 ====== */
#proyectos{
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 300;
}
.div-tittle-proyectos{
  overflow-wrap: normal;
  justify-content:center;
  margin-top: 20px;
  margin-left: -28%;
  width: 90%;
  height: 150px;
}
.div-tittle-proyectos h1{
  font-size: 4rem;
}
/* ====== SECTION 4 ====== */

          /* -- TITTLE CONTACT -- */
.tittle-contact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 100px;
  margin-left: 0%;
}
.tittle-contact h1{
  font-size: 4rem;
}
.contain-links-contact{
  margin-top: 85px;
  margin-left: -350px;
}

.contain-links-contact a{
  margin-top: 50px;
  text-decoration: none;
  height: 27px;
}
.contain-links-contact a:hover{
  color: var(--gray-medium);
  margin-top: 52px;
  margin-bottom: -2px;
}

.contain-links-contact a h2{
  margin-left: 63px;
  margin-top: -35px;
}
.contain-links-contact a img{
  height: 40px;
}


.contact-animation{
  animation: none;
}

          /* ---- FORM ----- */
.div-form{
  position: absolute;
  right: 8%;
  margin-top: 430px;
  height: 60vh;
  width: 80vw;
}
.form .input-data{
  margin-top: 20px;
}
.form textarea{
  margin-top: 20px;
  border-radius: 0px 35px 35px 35px;
}
.button-enviar {
  height: 45px;
  width: 120px;
  font-size: 1.3rem;
}
.button-enviar:hover {
  margin-top: 37px;
  height: 50px;
  width: 125px;
  font-size: 1.4rem;
}
input::placeholder, textarea::placeholder{
  color: var(--color-secundary);
  font-size: 1.5rem;
  font-weight: 300;
}


}