:root{
    /* ======== COLORS ======== */
    --color-primary: #fff;
    --color-secundary: #000;
    --gray-medium: #a8a8a8;
    --gray-light: #f4f4f4;
    --gray-dark: #252424;
    /* ======== FONTS ======== */
    --font-primary: 'Josefin Sans', sans-serif;
  }
body{
    background-color: var(--gray-medium);
}
.rologo{
    position: absolute;
    height: 60px;
    margin-top:895px;
    right: 15px;
}
/* --- LOGOS --- */

#ilustraciones{
    background-color: var(--gray-light);
    display: flex;
    height:100vh;
    width:100vw;
}

.container-ilustraciones{
    display: flex;
    flex-wrap: wrap;
    height:85vh;
    width:85vw;
    margin-top: 3%;
    margin-left: 12%;
}

.container-ilustraciones img{
    height: 45%;
    width: 17%;
    margin: 10px;
}

#mano{
    height: 27%;
    width: 23%;
}
#dedos{
    margin-top: 30px;
    height: 35%;
    width: 12%;
}
#abeja{
    height: 60%;
    width: 22%;
}
#cerdo{
    margin-top: -275px;
    height: 68%;
    width: 22%;
}
#manostecno{
    margin-top: -120px;
    height: 50%;
    width: 40%;
}
#logoro2{
    height: 34.7%;
    width: 16%;
}
#potato{
    height: 33%;
    width: 15%;
}

@media only screen and (max-width: 768px){
    .container-ilustraciones img{
        height: 195px;
        width: 130px;
        margin: 5px;
    }
    
    #mano{
        height: 0%;
        width: 0%;
    }
    #dedos{
        margin-top: 0px;
        height: 80px;
        width: 65px;
    }
    #abeja{
        margin-left: 10px;
        height: 300px;
        max-width: 190px;
        min-width: 175px;
    }
    #cerdo{
        margin-top: 5px;
        height: 300px;
        width: 160px;
    }
    #manostecno{
        margin-top: 0px;
        height: 250px;
        width: 365px;
    }
    #logoro2{
        height: 0%;
        width: 0%;
    }
    #potato{
        position: absolute;
        top: 90px;
        right: 30px;
        height: 120px;
        width: 65px;
    }
}
@media only screen and (max-width: 430px){
    #ilustraciones{
        height:172vh;
        width:100vw;
    }
    .container-ilustraciones{
        justify-content: center;
    }

    #dedos{
        margin-top: 0px;
        height: 0px;
        width: 0px;
    }
    #potato{
        position: initial;
        height: 300px;
        width: 200px;
        margin: 0px;
        border-bottom: 80px solid transparent;
    }
}