:root{
    /* ======== COLORS ======== */
    --color-primary: #fff;
    --color-secundary: #000;
    --gray-medium: #a8a8a8;
    --gray-light: #f4f4f4;
    --gray-dark: #252424;
    /* ======== FONTS ======== */
    --font-primary: 'Josefin Sans', sans-serif;
  }

  .rologo{
    position: absolute;
    height: 60px;
    margin-top:895px;
    right: 15px;
  }

  /* --- LOGOS --- */

#publicidades{
    background-color: var(--gray-light);
    display: flex;
    height:100vh;
    width:100vw;
}

.container-publicidades{
    display: flex;
    flex-wrap: wrap;
    height:85vh;
    width:85vw;
    margin-top: 3%;
    margin-left: 12%;
}

.container-publicidades img{
    height: 44.5%;
    width: 23.5%;
    margin: 12px;
}
#revista{
    height: 48%;
    width: 20%;
}
#sonrisas{
    position: absolute;
    left: 50.4%;
    top: 46%; 
    height: 9%;
    width: 23%;
}

#tango{
    margin-top: -20px;
    height: 51.5%;
    width: 42%;
}
#panel{
    margin-top: 84px;
    height: 39%;
    width: 30%;
}
#moot{
    margin-top: 13px;
    height: 47.6%;
    width: 20%;
}

@media only screen and (max-width: 768px){
    .container-publicidades{
        justify-content: center;
    }

    .container-publicidades img{
        height: 180px;
        min-width: 180px;
        margin: 7px;
    }
    #queratina2{
        height: 0px;
        width: 0px;
    }
    #revista{
        height: 220px;
        width: 180px;
    }
    #sonrisas{
        position: absolute;
        left: 13.5%;
        top: 49.8%; 
        height: 9%;
        width: 374px;
    }
    
    #tango{
        margin-top: 100px;
        height: 260px;
        width: 374px;
    }
    #panel{
        margin-top: 0px;
        height: 0%;
        width: 0%;
    }
    #moot{
        margin-top: -600px;
        margin-right: 200px;
        height: 220px;
        width: 180px;
    }
}
@media only screen and (max-width: 457px){
    #publicidades{
        height:162vh;
        width:100vw;
    }
    #sonrisas{
        position: initial;
    }
    #tango{
        margin-top: 10px;
        height: 260px;
        width: 374px;
    }
    #moot{
        height: 300px;
        margin: 0px;
        border-bottom: 80px solid transparent;
    }
}