:root{
    /* ======== COLORS ======== */
    --color-primary: #fff;
    --color-secundary: #000;
    --gray-medium: #a8a8a8;
    --gray-light: #f4f4f4;
    --gray-dark: #252424;
    /* ======== FONTS ======== */
    --font-primary: 'Josefin Sans', sans-serif;
  }
.container-dflecha{
    background-color: transparent;
    font-family: var(--font-primary);
    position: absolute;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    height: 100vh;
    width: 4vw;
    z-index: 900;

}
.container-dflecha h1{
    display: flex;
    justify-content: center;
    color: var(--gray-medium);
    transform: rotate(270deg);
    width:600px;
    font-size: 2rem;
    font-weight: 200;
}
#flecha-arr{
    background-image: url(../img/flecha-arr.png);
    background-size: contain;
}
#flecha-aba{
    background-image: url(../img/flecha-aba.png);
    background-size:contain;
}

.flechas{
    height: 50px;
    width: 50px;
    margin: 20px;
    text-decoration: none;
}
.flecha{
    height: 50px;
    width: 50px;
    border: 2px solid var(--color-secundary);
    border-radius: 50%;
}

.flecha h3{
    color: transparent;
    margin-left: 0px;
    margin-top: 20%;
    transition: .3s;
}
.flecha:hover h3{
    color: var(--color-secundary);
    margin-left: 55px;
    font-weight: 300;
}

#button-home{
    font-family: var(--font-primary);
    position: absolute;
    position: fixed;
    left: 45.6%;
    bottom: 1%;
    text-decoration: none;
    color: var(--color-secundary);
    cursor: pointer;
}
#button-home h1{
    font-weight: 300;
}

#button-home div{
    position: absolute;
    background-color: black;
    border-radius: 50%;
    margin-top: -43.5px;
    margin-left: 32px;
    height: 30px;
    width: 30px;
}

@media only screen and (max-width: 768px){
    .flechas{
        height: 35px;
        width: 35px;
    }
    .flecha{
        height: 35px;
        width: 35px;
    }
    .container-dflecha h1{
        font-size: 1.5rem;
        font-weight: 300;
    }
    #button-home div{
        margin-top: -32px;
        margin-left: 23px;
        height: 23px;
        width: 23px;
    }
}