:root{
    /* ======== COLORS ======== */
    --color-primary: #fff;
    --color-secundary: #000;
    --gray-light: #f4f4f4;
    --gray-dark: #201f1f;
    /* ======== FONTS ======== */
    --font-primary: 'Josefin Sans', sans-serif;
  }

.container-nav{
    background-color: var(--gray-dark);
    font-family: var(--font-primary);
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: absolute;
    position: fixed;
    width: 0%;
    height: 100vh;
    z-index: 40;
    transition: 0.5s;
  }
  
.nav{
    display: flex;
    align-items: center;
    color: var(--color-primary);
    opacity: 0;
    width: 100;
    height: 100vh;
  }
ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}

li{
    list-style: none;
    height: 6rem;
    width: 100px;
    margin-bottom: 100px;
  }

.link-section{
  color: var(--color-primary);
  text-decoration: none;
  font-size: 5rem;
  position: absolute;
  
}
.link-section:hover{
  color: var(--color-primary);
  border-bottom: 1px solid var(--gray-light);
  border-bottom-width: 1px;
  }


.activate{
    width: 45%;
    height: 100vh;
    opacity: 1;
}