.container-scrollbar{
    display:flex;
    justify-content: center;
    position: absolute;
    position: fixed;
    bottom: 15%;
    height: 70vh;
    width: 5%;
}

.scrollbar {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    height: 100%;
    width: 5.3%;
    border-radius: 20px;
}

.scrollbar-circle {
    position: absolute;
    background-color: #000;
    top: 7%;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    transition: 0.5s;
}